/*variable storage*/
:root{
  /*color*/
  --black1: #070707;
  --black2: #333;
  --white1: #f5f5f5;
  --white2: #fafafa;
  --orange1: #ffa500;
  --orange2: #ffc364;
  /*hero-left-size*/
  --hero-left-size: 370px;
  --not-hero-left-size: 320px;
}
/*embeded fonts*/
@font-face {
  font-family: "supermarket";
  src: url('fonts/supermarket.ttf');
}
/*universal style*/
*{
  font-family: 'supermarket';
  font-size: 18pt;
  font-weight: normal;
  margin: 0;
  border: 0;
  padding: 0;
}
html{
  background: #fff;
  overflow-x: hidden;
}
a{
  color: var(--orange1);
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: var(--orange2);
}
p{
  font-size: 16pt;
  line-height: 1.4em;
}
h1{
  font-size: 100pt;
  line-height: 4rem;
}
h2{
  font-size: 60pt;
}
h3{
  font-size: 34pt;
  line-height: 3rem;
}
h4{
  font-size: 24pt;
}
footer{
  background: var(--black1);
  color: var(--white1);
  padding-top: 1.5em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 10;
}
footer .col{
  text-align: right;
}
.fullscreen{
    min-width: 100vw;
    min-height: 100vh;
}
.hide-lg{
  display: none;
}
.alert{
  background: var(--black2);
  display: none;
  transition: all .6s;
}
.alert-ie, .alert-small-devices{
  margin: 1em;
  background: var(--white2);
  padding: 1em;
  display: none;
}
.scroll-to-top{
  position: fixed;
  right: 10px;
  bottom: 30px;
  color: var(--orange1);
  background: var(--black2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20pt;
  cursor: pointer;
}
.scroll-to-top i{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}
.share{
  padding-top: .5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.share .email{
  background: #ff0000;
  height: 28px;
  width: 75px;
  position: relative;
  border-radius: 4px;
}
.share .email:hover{
  background: #dd0000;
  color: var(--white1);
}
.share .email i{
  position: absolute;
  font-size: 14pt;
  top: 4px;
  left: 9px;
}
.share .email span{
  font-size: 12pt;
  position: absolute;
  right: 9px;
  bottom: -6px;
}
.share iframe, .share a{
  margin-left: .5em;
}
.inner{
  display: inherit;
}
.navbarmobile{
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 2px;
  transition: all .3s ease;
  background: var(--black2);
}
.navbarmobile.home{
  filter: opacity(0);
}
.navbarmobile span{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white1);
}
.navbarmobile span img{
  height: 50px;
  width: 50px;
  margin-right: .5em;
  display: inline-block;
}
.navbarmobile span h4{
  display: inline-block;
  line-height: 1em;
}
.navbutton{
  position: fixed;
  width: 65px;
  height: 60px;
  /* background: var(--black1); */
  z-index: 11;
  top: 0;
}
#nav-icon{
  width: 35px;
  height: 30px;
  position: relative;
  margin: 16px 10px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span{
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--orange1);
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 11px;
}

#nav-icon span:nth-child(4) {
  top: 22px;
}

#nav-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.navfilter{
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
  background: var(--black2);
  filter: opacity(.7);
}
/*spectify id */
/* page */
#navbar .hero-inner{
  z-index: 10;
}
#nav-logo{
  display: none;
  filter: opacity(0);
  transition: all .2s ease;
}
#nav-logo-home{
  transition: all .2s ease;
}
#index, #about, #gallery, #team, #contact{
  /* display: none; */
  z-index: 9;
}

.hide{
  display: none;
}

/*index*/
.hero{
  color: var(--white1);
  background: var(--black1);
  transition: all .4s;
}
.hero > .background{
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  filter: brightness(0.8);
}
.hero > .hero-left{
  background: var(--black1);
  position: absolute;
  width: var(--not-hero-left-size);
  height: 100vh;
  transition: all .5s;
}
.hero > .hero-inner{
  display: flex;
  align-items: center;
}
.hero .hero-left > .container{
  padding-right: 1.5em;
}
.hero .hero-right > .container{
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.hero > .hero-left > .container > span{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero > .hero-inner > .container{
  padding: .5em;
  font-weight: 200;
}
.hero img{
  display: inline;
  margin-right: .5em;
}
.hero h1{
  font-size: 12vw;
  margin-bottom: 3vw;
}
.hero h3{
  display: inline;
}
.hero ul{
  margin-top: 0;
  list-style: none;
  padding: .5em;
}
.hero a{
  color: var(--white2);
  line-height: 1.8em;
  font-size: 1em;
}
.hero li .selected{
  color: var(--orange1);
}
.hero a:hover{
  color: var(--orange2);
}
.hero > .hero-right{
  width: calc(100vw - var(--not-hero-left-size));
  min-height: 100vh;
  /* position: absolute; */
  margin-left: var(--not-hero-left-size);
  transition: all .4s ease;
}
#home .hero-left, .nav .hero-left{
  width: var(--hero-left-size);
  transition: all .4s ease;
}
.home .hero-right{
  width: calc(100vw - var(--hero-left-size));
  margin-left: var(--hero-left-size);
}
#home .hero-right .container{
  min-width: 70vw;
}
#details{
  margin-top: 20px;
  background: var(--white1);
  color: var(--black1);
  margin-bottom: 20px;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
#details div{
  background: var(--black2);
  width: 90px;
  height: 90px;
  display: inline-block;
  padding: 15px;
  border-radius: 50%;
}
#details img{
  object-fit: cover;
  object-position: top;
}
#details p , #details h4{
  max-width: 90vw;
  width: 600px;
  margin: auto;
}
#details .row{
  padding-bottom: 2em;
}
#details .container .col{
  padding-left: .1pt;
  padding-right: .1pt;
}
#user-reviews{
  background: var(--white1);
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 20px;
}
#user-reviews .col-lg-4{
  padding-left: .3em;
  padding-right: .3em;
  padding-top: .5em;
}
#user-reviews .box{
  /*box-shadow: 0 0 6px rgba(255, 165, 0, 0.4);*/
  background: var(--white2);
  min-height: 150px;
  text-align: left;
  padding: .7em;
  border: 3px solid var(--orange2);
  border-radius: .2em;
  display: flex;
}
#user-reviews .box img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
#user-reviews .box div{
  margin-left: 1em;
  margin-top: -.4em;
}
#user-reviews .box span{
  font-size: 18pt;
  line-height: 18pt;
  display: block;
}
#user-reviews .box p{
  color: var(--black1);
  font-size: 15pt;
}
#user-reviews .box .name{
  color: var(--orange1);
  font-weight: bold;
}
#user-reviews .box .user{
  color: var(--black2);
  font-size: 16pt;
}

/*contacts*/
.contacts{
  background: var(--white1);
  color: var(--black1);
  padding: 1.4em;
  display: flex;
}
.contacts .container{
  align-self: center;
}
.contacts h3{
  color: var(--orange1);
  font-weight: bold;
}
.contacts .box{
  margin-right: 0.5em;
  margin-bottom: 1em;
  /*padding: .5em;*/
  background: var(--black1);
  height: 200px;
  background-image: url('images/profile.jpg');
  background-size: cover;
  position: relative;
  box-shadow: 0 0 3px var(--orange1);
}
.contacts .pic1 .box{
  background-image: url('team/Profile1.jpg');
  background-position: top;
}
.contacts .pic2 .box{
  background-image: url('team/Profile2.jpg');
  background-position: top;
}
.contacts .pic3 .box{
  background-image: url('team/Profile3.jpg');
  background-position: center;
}
.contacts .pic4 .box{
  background-image: url('team/Profile4.jpg');
  background-position: top;
}
.contacts .box > .content{
  background: rgba(0, 0, 0, 0.0);
  position: absolute;
  color: rgba(0, 0, 0, 0.0);
  padding-bottom: .5em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all .4s ease;
  filter: opacity(0) blur(3px);
  cursor: pointer;
}
.contacts .box > .content:hover{
  margin-left: .5em;
  margin-right: .5em;
  margin-top: .5em;
  height: calc(100% - 1em);
  width: calc(100% - 1em);
  background: var(--orange1);
  color: var(--white2);
  filter: opacity(0.8) blur(0px);
}
.contacts .box > .content > span{
  text-align: center;
  line-height: 1em;
}
.contacts button{
  background: rgba(0, 0, 0, 0.0);
  color: var(--white2);
  border: 2px solid var(--white2);
  font-size: 14pt;
  margin-top: .4em;
  padding: .2em;
  padding-left: .6em;
  padding-right: .6em;
  padding-top: .4em;
  cursor: pointer;
  transition: all .4s ease;
}
.contacts button:hover{
  color: var(--orange1);
  background: var(--white2);
}

/*about us*/
.about > .background-about{
  background-image: url('images/studio.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.about h2{
  color: var(--orange1);
  line-height: 1.2em;
}
.about .box{
  box-shadow: 0 0 5px var(--black2);
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  min-width: 500px;
  background-image: url('images/studio-blur.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .box > .inner{
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
}
.about .hero-right{
  color: var(--black2);
  text-align: center;
}

/*Maps*/
#contact > .background-contact{
  background-color: var(--white2);
}
.maps {
  margin: 0;
  padding: 0;
}
.maps iframe{
  width: calc(99vw - var(--not-hero-left-size));
  height: 100vh;
}
#contact {
  background-color: var(--black1);
}
.maps {
  margin: 0;
  padding: 0;
}
.maps iframe{
  width: calc(99vw - var(--not-hero-left-size));
  height: 100vh;
}

/*Gallery*/
#gallery{
  background: var(--black1);
}
#gallery .hero-right{
  background: var(--white2);
  color: var(--black1);
}
#gallery h4{
  padding: .5em;
  color: var(--orange1);
  font-weight: bold;
}
#gallery .album{
  padding-left: .6em;
  padding-right: .6em;
  column-width: 250px;
  column-gap: .7em;
}
#gallery .album > figure{
  /* border: 1.4px solid var(--white1); */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  background: var(--orange1);
  margin: 0 0 .7em;
  padding: .5em;
  padding-bottom: 0;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  transition: all .3s;
  cursor: pointer;
}
.album figcaption{
  border-top: 2px solid var(--white1);
  color: var(--white1);
  margin-top: .1em;
  text-align: right;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: .4rem;
  line-height: 1.3rem;
  font-size: 14pt;
}
.album img{
  object-fit: cover;
}
.photo{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  z-index: 100;
  color: var(--black1);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all .3s ease;
}
.photo .close{
  position: fixed;
  font-size: 26pt;
  top: 10px;
  right: 1em;
  cursor: pointer;
}
.photo .photo-box{
  margin-top: 70px;
  max-width: 80vw;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 80px;
}
.photo .photo-box img{
  max-width: 80vw;
  padding-top: 1rem;
  border-top: 2px solid var(--black1);
}
.photo .photo-box figcaption{
  font-size: 26pt;
  text-align: center;
}

/* responsive breakpoints */
/* default: desktop 1200+ */

/*-------------------------------------------*/
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
  :root{
    --hero-left-size: 270px;
    --not-hero-left-size: 270px;
  }
  *{
    font-size: 16pt;
  }
  p{
    font-size: 14pt;
  }
  .hero > .background{
    background-position: center;
  }
  footer span, footer p{
    font-size: 12pt;
  }
  .contacts button{
    font-size: 12pt;
  }
  #gallery .album{
    column-width: 220px;
  }
  .share .email span{
    display: none;
  }
  .share .email{
    width: 30px;
  }
  .share .email i{
    left: 5px;
  }
}

/*-------------------------------------------*/
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
  :root{
    --hero-left-size: 270px;
    --not-hero-left-size: 270px;
  }

  #navbar .hero-left{
    margin-left: -270px;
    position: fixed;
    top: 0;
  }
  #navbar .shownav{
    margin-left: 0;
  }
  #home .hero-right,.hero .hero-right{
    width: 100vw;
    margin-left: 0;
  }
  #home h1{
    font-size: 80pt;
    line-height: .8em;
  }
  #contact, #team, #gallery{
    margin-top: 60px;
  }
  .maps iframe{
    margin-left: 5vw;
    width: 90vw;
    height: 90vh;
  }
  #contact {
    height: 90vh;
  }
  .hide-lg{
    display: inherit;
  }
  .hide-md{
    display: none;
  }
  #gallery .photo{
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    top: 60px;
  }
}

/*-------------------------------------------*/
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
  #home h3{
    font-size: 24pt;
    line-height: 1em;
  }
  #gallery .album{
    column-width: 200px;
  }
  #gallery .album figcaption{
    font-size: 14pt;
  }
}

/*-------------------------------------------*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

  h3{
    font-size: 28pt;
    line-height: 1em;
  }
  h4{
    font-size: 16t;
    line-height: 1.2em;
  }
  .about .box{
    min-width: 95vw;
  }
  #home .head{
    font-size: 40pt;
  }
  footer .col{
    padding: 0;
    padding-top: 1em;
  }
  #team .col-md-6{
    padding-top: 1em;
  }
  #team .col{
    padding: 0;
  }
}

/* in case small than 320px  */
@media (max-width: 319px){
  .inner{
    display: none;
  }
  .alert{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alert-small-devices{
    display: block;
  }
}

/*for animation*/
#index, #about, #gallery, #team, #contact{
  position: relative;
  opacity: 0;
}

.texta1, .texta2, .texta3, .texta4{
  position: relative;
  opacity: 0;
  top: 45px
}

.pic1, .pic2, .pic3, .pic4{
  position: relative;
  opacity: 0;
}

.pic1, .pic2{
  bottom: 45px;
}

.pic3, .pic4{
  top: 45px;
}
